{
    "presets": ["next/babel"],
    "plugins": [
        ["prismjs", {
            "languages": ["javascript", "rust", "elixir", "cpp", "go", "java", "python"],
            "css": true,
        }]
    ]
  }
  